
.App {
  user-select: none;
overflow: hidden;
  display: flex;
  background-color: #DCDCDC;
 
  height:31rem;
}

.SliderImage{
  background-color: #e0aca4 ;
  height:15%;
  margin-top:10px;
  width : 50% !important;
  display:flex;
 
}
.Imgae1{
  width:48px;
}
/* @media only screen and (max-width: 600px){
.SliderImage {width : auto !important}
} */
@media only screen and (max-width: 800px) {
  .SliderImage {
    width: auto !important
  }
}
.App-logo {
  height: 10%;
  width: 10%;
  pointer-events: none;

}

.App-logo2 {
  height: 10%;
  width: 10%;
  pointer-events: none;
  position: relative;

}

.Slider{
  background: #000;
  width: 30%;
  height: 30%;
}
